.clase1{
border: 2px;
background: rgb(240, 252, 7);
top: 50px;
left: 20px;
height: 350px;
width: 350px;
position: relative;
}

.titulo{
    font-family: cursive;
    text-align: center;
    
}

.clase2{
    border: 2px;
    background: rgb(240, 252, 7);
    top: -358px;
    
    height: 350px;
    width: 350px;
    left: 390px;
    right: 200px;
    position: relative;
    }
.table{
    position: relative;

}